<p id="notice"><%= notice %></p>

<p>
  <strong>Song name:</strong>
  <%= @song.song_name %>
</p>

<p>
  <strong>Song order:</strong>
  <%= @song.song_order %>
</p>

<p>
  <strong>Song duration:</strong>
  <%= @song.song_duration %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
